<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
  rel="stylesheet"
/>
    <link rel="stylesheet" href="/css/styles.css">

    <title>Advanced Search</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center mb-5 pt-5">Advanced Search</h1>
    <div class="row">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6">
      
    <form class="mb-5" action="/advancedSearch" method="get">
      <!-- Minimum input -->
      <div class="form-outline mb-4">
        <input type="number" name="minPrice" id="minPrice" class="form-control" />
        <label class="form-label" for="minPrice">Minimum Price</label>
      </div>
       <!-- Maximum input -->
       <div class="form-outline mb-4">
        <input type="number" name="maxPrice" id="maxPrice" class="form-control" />
        <label class="form-label" for="maxPrice">Maximum Price</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="text" name="category" id="category" class="form-control" />
        <label class="form-label" for="category">Category</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>
  </div>
  </div>
  <form class="text-center mt-5" action="/text-search" method="GET">
    <input type="text" name="query" placeholder="Search ">
    <button type="submit">Search</button>
  </form>

    <% if (Products) { %>
      <h2 class="mx-5">Search Results</h2>
      <ul>
        <% Products.forEach(product => { %>
          <li>
            <strong><%= product.name %></strong><br>
            Description: <%= product.description %><br>
            Price: <%= product.price %><br>
            Category: <%= product.category %><br>
            Availability: <%= product.availability ? "Yes" : "No" %>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No products match your search criteria.</p>
    <% } %>
  </div>
</body>
</html>